.about {
  border-top: 30px solid white;
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
  align-items: center;
  &__titulo {
    color: white;
    padding: 20px;
  }
  &__img {
    padding: 20px;
    width: 800px;
    align-items: center;
  }
  &__parrafo {
    padding: 30px;
    color: white;
  }
}
